# Operating system files
.DS_Store
Thumbs.db

# Python virtual environment directories
venv/
env/
__pycache__/
*.pyc
*.pyo

# IDE/editor specific settings
.vscode/
.idea/

# Logs and other temporary files
*.log

# Debugging files
*.bak
*.tmp

# Exclude Arduino binaries (optional)
*.hex
*.elf
